<div class="banner-header bg-white p-3">
  <div class="row align-items-center">
    <div class="col-md-6 text-center text-md-left mb-2 mb-md-0">
      <h5>All Invoices</h5>
      <%= render_breadcrumbs %>
    </div>
  </div>
</div>
<div class="container container-admin px-md-4 px-2 container-s">
  <% if @invoices.present? %>
    <div class="card p-4 rounded-0">
      <div class="table-responsive table-users">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>
                Description
              </th>
              <th>
                Customer Name
              </th>
              <th>
                Customer Email
              </th>
              <th>
                Status
              </th>
              <th>
                Amount
              </th>
              <th>
                Invoice
              </th>
            </tr>
          </thead>
          <tbody>
            <% @invoices.each_with_index do |invoices, index| %>
              <% invoices.each do |invoice| %>
                <tr>
                  <% if invoice.status == 'paid' or invoice.status == 'open' %>
                    <td>
                      <% invoice.lines.data.each do |d| %>
                        <div>
                          <%= d.description %>
                        </div>
                      <% end %>
                      <div class="text-muted">
                        <%= Time.at(invoice.created).to_datetime.strftime('%d %B %Y (%A) on %H:%M %P') %>
                      </div>
                    </td>
                    <td>
                      <a href="#"><%= User.find_invoice_user(invoice.customer)[:name] %></a>
                    </td>
                    <td>
                      <%= User.find_invoice_user(invoice.customer)[:email] %>
                    </td>
                    <td>
                      <%= invoice.status.capitalize %>
                    </td>
                    <td>
                      <%= number_to_currency((invoice.amount_paid)/100.00) %>
                    </td>
                    <td>
                      <a target="_blank" href="<%= invoice.hosted_invoice_url %>">
                        <i class="fas fa-download">
                      </i> Download</a>
                    </td>
                  <% end %>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% else %>
    No Invoices currently present.
  <% end %>
</div>