<div class="banner-header">
  <div class="d-flex align-items-center">
    <div class="flex-grow-1">
      <h2>Admin Dashboard</h2>
      <%= render_breadcrumbs %>
    </div>
  </div>
</div>
<div class="container-fluid py-4 statistics">
  <h2 class="mb-4 text-center">Statistics</h2>
  <div class="form-row text-center justify-content-center">
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mb-3">
      <%= link_to admin_users_path do %>
        <div class="card">
          <div class="card-body">
            <h4>TOTAL USERS</h4>
            <h1><%= User.total_normal_users %></h1>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mb-3">
      <div class="card">
        <div class="card-body">
          <h4>SUBSCRIBED USERS</h4>
          <h1><%= User.total_subscribed_users %></h1>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mb-3">
      <div class="card">
        <div class="card-body">
          <h4>TOTAL PAYMENTS RECEIVED</h4>
          <h1><%= User.all_stripe_invoices_amount_count %></h1>
        </div>
      </div>
    </div>
  </div>
</div>