<div class="container-admin">
  <h5 class="mb-4">Statistics</h5>
  <div class="row card-stats">
    <div class="col-lg-3 col-sm-6">
      <div class="card text-center">
        <h4>TOTAL USERS</h4>
        <h1>40</h1>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6">
      <div class="card text-center">
        <h4>TOTAL USERS</h4>
        <h1>40</h1>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6">
      <div class="card text-center">
        <h4>TOTAL USERS</h4>
        <h1>40</h1>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6">
      <div class="card text-center">
        <h4>TOTAL USERS</h4>
        <h1>40</h1>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6">
      <div class="card text-center">
        <h4>TOTAL USERS</h4>
        <h1>40</h1>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6">
      <div class="card text-center">
        <h4>TOTAL USERS</h4>
        <h1>40</h1>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6">
      <div class="card text-center">
        <h4>TOTAL USERS</h4>
        <h1>40</h1>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6">
      <div class="card text-center">
        <h4>TOTAL USERS</h4>
        <h1>40</h1>
      </div>
    </div>
  </div>
  <hr class="mb-4"/>
  <h5 class="mb-4 pt-2">All Users</h5>
  <div class="table-responsive table-users">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>Revoke Access</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td><%= user.name%></td>
          <td><%= user.email%></td>
          <td><%= user.phone_number%></td>
          <td>
            <% if user.revoke_access == false %>
              <center><%= link_to 'Revoke Access', change_access_path(disable: user.id) %></center>
            <% else %>
              <center><%= link_to 'Enable Access', change_access_path(enable: user.id) %></center>
            <% end %>
          </td>
        </tr>
        <% end%>
      </tbody>
    </table>
  </div>
</div>