<div class="row steps-heading justify-content-md-center mb-4">
  <div class="h-step h-step-1 <%= h1 %>">
    <div class="multistep_icon">
      <i class="fas fa-location-arrow"></i>
    </div>
    <span class="text">Step 1</span>
  </div>
  <div class="h-step h-step-2 <%= h2 %>">
    <div class="multistep_icon">
      <i class="fas"></i>
      <span class="multistep_count">2</span>
    </div>
    <span class="text">Step 2</span>
  </div>
  <div class="h-step h-step-3 <%= h3 %>">
    <div class="multistep_icon">
      <i class="fas"></i>
      <span class="multistep_count">3</span>
    </div>
    <span class="text">Step 3</span>
  </div>
  <div class="h-step h-step-4 <%= h4 %>">
    <div class="multistep_icon">
      <i class="fas"></i>
      <span class="multistep_count">4</span>
    </div>
    <span class="text">Step 4</span>
  </div>
  <div class="h-step h-step-5 <%= h5 %>">
    <div class="multistep_icon">
      <i class="fas"></i>
      <span class="multistep_count">5</span>
    </div>
    <span class="text">Step 5</span>
  </div> 
</div>