<div class="page-center">
  <div class="card mw-1000">
    <div class="card-header">
      Single-Submit Multi-Step Form
    </div>
    <div class="card-body">
      <form class="needs-validation">
        <%= render 'single_submit_multistep_step_1' %>
        <%= render 'single_submit_multistep_step_2' %>
        <%= render 'single_submit_multistep_step_3' %>
        <%= render 'single_submit_multistep_step_4' %>
        <%= render 'single_submit_multistep_step_5' %>
      </form>
    </div>
  </div>
</div>