<div class="container-fluid container-top">
	<div class="container container-signin container-sign">
		<div class="modal-login-body">
			<h3 class="text-center">Update Profile</h3>
			<hr/>
			<%= form_for(current_user) do |f| %>
				<div class="avatar-upload">
					<div class="avatar-edit">
						<%= f.file_field :profile_pic,id: "imageUpload", accept:"image/*" %>
						<label for="imageUpload"></label>
					</div>
					<div class="avatar-preview">
						<div id="imagePreview" style="background-image: url(<%= current_user.profile_pic %>);">
						</div>
					</div>
				</div>
				<div class="form-group mt-3">
					<label for="name">Name</label>
					<%= f.text_field :name, autofocus: true,required: true, placeholder: 'Enter Your Name', class: 'form-control login-form', required: true %>
				</div>
				<div class="form-group">
					<label for="phone_number">Phone Number</label>
					<%= f.number_field :phone_number, placeholder: 'Enter Your Phone Number', class: 'form-control login-form', required: true %>
				</div>
				<div class="form-group">
					<label for="date_of_birth">Date of Birth</label>
					<input type="date" class="form-control login-form" name="user[date_of_birth]" value="<%= current_user.date_of_birth %>">
				</div>
				<div class="form-group">
					<label for="gender">Gender</label>
					<%= f.select :gender,options_for_select([["Male","Male"],["Female","Female"],["Other","Other"]]),{},{class: "form-control login-form"} %>
				</div>
				<div class="color-main-plt">
					<label for="color_scheme">Color Scheme</label>
					<div id="color-button" class="color-picker">
						<%= f.text_field :color_scheme, class: 'primary-middle-hex form-control login-form', placeholder:"Select or Enter Color HEX Value i.e. #000000"%>
					</div>
				</div>
				<div class="actions mt-3">
					<%= f.submit "Update", class: 'btn btn-primary btn-lg btn-block mb-3 btn-submit' %>
					<%= link_to "Dashboard",user_panel_path,class: "btn btn-secondary btn-lg btn-block btn-submit mb-3 "%>
				</div>
			<% end %>
		</div>
	</div>
</div>