<div class="banner-header bg-white p-3">
  <div class="row align-items-center">
    <div class="col-md-12 text-center text-md-left">
      <h5 class="lh-34 mb-0">Payment & Subscription Settings</h5>
    </div>
  </div>
</div>
<div class="container-fluid mt-2">
  <div class="row mt-2">
    <div class="col-lg-12">
      <div class="card forms-card">
        <div class="card-body">
          <h4 class="card-title mb-4">Subscriptions</h4>
          <% if @subscription.present? %>
            <div class="table-responsive">
              <table class="table recent-order-list-table table-responsive-fix-big">
                <thead>
                  <tr>
                    <th>Plan</th>
                    <th>Current Period Start</th>
                    <th>Current Period End</th>
                    <th>Cancel at Period End</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <%= @plan.nickname %> (<%= @plan.amount %> <%= @plan.currency %>)
                    </td>
                    <td>
                      <%= Time.at(@subscription.current_period_start).to_datetime.strftime('%d %B %Y (%A) on %H:%M %P') %>
                    </td>
                    <td>
                      <%= Time.at(@subscription.current_period_end).to_datetime.strftime('%d %B %Y (%A) on %H:%M %P') %>
                    </td>
                    <td>
                      <%= @subscription.cancel_at_period_end.to_s.capitalize %>
                    </td>
                    <td>
                      <%= link_to 'Cancel Subscription Now', cancel_subscription_now_path, class: 'btn btn-primary btn-sm mt-2' %>
                      <% if @subscription.cancel_at_period_end? %>
                        <%= link_to 'Allow Renewal of Subscription', setup_renewal_of_subscription_path, class: 'btn btn-primary btn-sm mt-2' %>
                      <% else %>
                        <%= link_to 'Cancel Renewal of Subscription', setup_renewal_of_subscription_path, class: 'btn btn-primary btn-sm mt-2' %>
                      <% end %>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          <% else %>
            No Subscription Present Yet
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-lg-12">
      <div class="card forms-card">
        <div class="card-body">
          <h4 class="card-title mb-4">Card Details</h4>
          <% if current_user.stripe_customer_id? && current_user.stripe_payment_method_id? %>
            <div class="table-responsive">
              <table class="table recent-order-list-table table-responsive-fix-big">
                <thead>
                  <tr>
                    <th>Type</th>
                    <th>Expiry Date</th>
                    <th>Card Number</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><%= @card_details[:brand] %></td>
                    <td><%= [@card_details[:exp_month], @card_details[:exp_year]].join('/') %></td>
                    <td>XXXX-XXXX-XXXX-<%= @card_details[:last4] %></td>
                    <td>
                      <%= link_to 'Add or Update Card', update_card_details_path, remote: true, class: 'btn btn-primary btn-sm mt-2' %>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          <% else %>
            No Card Details Present Yet
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-lg-12">
      <div class="card forms-card">
        <div class="card-body">
          <h4 class="card-title mb-4">Invoices</h4>
          <% if @invoices %>
            <div class="table-responsive">
              <table class="table recent-order-list-table table-responsive-fix-big">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Amount Paid</th>
                    <th>Description</th>
                    <th>Invoice Url</th>
                  </tr>
                </thead>
                <tbody>
                  <% @invoices.each do |invoice| %>
                  <tr>
                    <td><%= Time.at(invoice.created).to_datetime.strftime('%d %B %Y (%A) on %H:%M %P') %></td>
                    <td><%= number_to_currency((invoice.amount_paid)/100.00) %></td>
                    <td>
                      <ul>
                        <% invoice.lines.data.each do |d| %>
                          <li><%= d.description %> </li>
                        <% end %>
                      </ul>
                    </td>
                    <td><a class="text-primary" target="_blank" href=" <%= invoice.hosted_invoice_url %> "><i class="fa fa-download"></i> Download</a></td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          <% else %>
            No Invoices Present Yet
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>