<section class="payment py-4 py-md-5">
  <div class="container px-0 px-md-3">
    <h2 class="text-center mb-4">Payment & Subscription Settings</h2>

    <!-- Subscriptions -->
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="flex-grow-1">
            <h3 class="card-title">Subscriptions</h3>
              <% if @subscription.present? && @subscription.active? %>
                <div>
                  <span class="font-weight-bold"><%= @plan.nickname %>  <%= @plan.currency == 'USD' ? '$' : "£"  %><%= @plan.amount_decimal %>
                  </span>
                  <% if @subscription.current_period_start.present? %>
                    <span class="font-weight-bold pl-2">Started at:</span> <%= Time.at(@subscription.current_period_start).to_datetime.strftime('%d %B %Y (%A) on %H:%M %P') %>
                  <% end %>
                  <% if @subscription.current_period_end.present? %>
                    <span class="font-weight-bold pl-2">Ends on:</span> <%= Time.at(@subscription.current_period_end).to_datetime.strftime('%d %B %Y (%A) on %H:%M %P') %>
                  <% end %>
                </div>
                <% if @subscription.cancel_at_period_end.present? %>
                  <div>
                    <span class="font-weight-bold">Cancel at Period End:</span> <%= @subscription.cancel_at_period_end.to_s.capitalize %>
                  </div>
                <% end %>
                <div class="mt-2">
                  <%= link_to 'Cancel Subscription Now', cancel_subscription_now_path, :data => {:confirm => 'Are you sure you want to cancel your subscription, this will cancel your subscription right now.'} %>
                  <% if @subscription.cancel_at_period_end? %>
                    <%= link_to 'Allow Renewal of Subscription', setup_renewal_of_subscription_path, :data => {:confirm => "Are you sure you want to allow the renewal of your subscription? After current period ends, your renewal of subscription will again start on #{Time.at(@subscription.current_period_start).to_datetime.strftime('%d %B %Y (%A) on %H:%M %P')}"}, class: 'ml-2' %>
                  <% else %>
                    <%= link_to 'Cancel Renewal of Subscription', setup_renewal_of_subscription_path, :data => {:confirm => "Are you sure you want to cancel the renewal of your subscription? Your subscription will not be renewed and will end on #{Time.at(@subscription.current_period_end).to_datetime.strftime('%d %B %Y (%A) on %H:%M %P')}"}, class: 'ml-2' %>
                  <% end %>
                </div>
              <% else %>
                <p class="card-text">You are not subscribed to any plan yet.</p>
              <% end %>
          </div>
          <div class="d-none d-md-block flex-shrink-0">
            <img src="/subs.png" class="img-fluid" alt="Subscriptions">
          </div>
        </div>
      </div>
      <div class="card-footer">
        <a href="#">Manage Subscriptions</a>
      </div>
    </div>

    <!-- Card Details -->
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="flex-grow-1">
            <h3 class="card-title">Card Details</h3>
            <% if current_user.stripe_customer_id? && current_user.stripe_payment_method_id? %>
              <div class="form-row">
                <div class="col-auto mb-2">
                  <div class="border px-3 pt-3 pb-2 rounded-sm">
                    <div class="d-flex align-items-center mb-2">
                      <img src="<%= @card_details[:brand] %>.png" alt="<%= @card_details[:brand] %>" width="40">
                      <div class="pl-8"><%= @card_details[:brand] %> **** <%= @card_details[:last4] %></div>
                    </div>
                    <%= link_to 'Add or Update Card', update_card_details_path, :data => {:confirm => "Are you sure you want to update your credit card details, this will re-direct you to stripe and you will update your card details there."}, remote: true %>
                  </div>
                </div>
              </div>
            <% else %>
              <p class="card-text">No Card currently added.</p>
            <% end %>
          </div>
          <div class="d-none d-md-block flex-shrink-0">
            <img src="/card.png" class="img-fluid" alt="Card Details">
          </div>
        </div>
      </div>
      <div class="card-footer">
        <a href="#">Add Payment Method</a>
      </div>
    </div>

    <!-- Invoices -->
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="flex-grow-1">
            <h3 class="card-title">Invoices</h3>
            <% if @invoices.present? %>
              <div class="table-responsive no-datatable">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>
                        Description
                      </th>
                      <th>
                        Amount
                      </th>
                      <th>
                        Invoice
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @invoices.each do |invoice| %>
                      <tr>
                        <td>
                          <% invoice.lines.data.each do |d| %>
                            <div>
                              <%= d.description %>
                            </div>
                          <% end %>
                          <div class="text-muted">
                            <%= Time.at(invoice.created).to_datetime.strftime('%d %B %Y (%A) at %H:%M %P') %>
                          </div>
                        </td>
                        <td>
                          <%= number_to_currency((invoice.amount_paid)/100.00) %>
                        </td>
                        <td>
                          <a target="_blank" href="<%= invoice.hosted_invoice_url %>" rel="noopener">
                            <i class="fas fa-download">
                          </i> Download</a>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            <% else %>
              <p class="card-text">No Invoices currently present.</p>
            <% end %>
          </div>
          <div class="d-none d-md-block flex-shrink-0">
            <img src="/invoice.png" class="img-fluid" alt="Invoices">
          </div>
        </div>
      </div>
      <div class="card-footer">
        <a href="<%= invoices_path(user: current_user.id) %>">Manage All Invoices</a>
      </div>
    </div>

  </div>
</section>