<div class="container pb-5">
  <h5 class="text-center text-primary pt-5 pb-4">Payment and Subscription Settings</h5>
  
  <!-- Subscriptions -->
  <div class="row">
    <div class="col-lg-12">
      <div class="card r-1 border border">
        <div class="card-body p-30">
          <div class="row align-items-center">
            <div class="col-lg-9 col-sm-8">
              <h6 class="card-title mb-3 pb-1 mt-2">Subscriptions</h6>
              <% if @subscription.present? %>
                <span class="text-muted mb-2 d-inline-block">
                  <strong><%= @plan.nickname %>  <%= @plan.currency == 'USD' ? '$' : "£"  %><%= @plan.amount %>
                  </strong>
                  <% if @subscription.current_period_start.present? %>
                    <strong class="ml-2">Started at:</strong> <%= Time.at(@subscription.current_period_start).to_datetime.strftime('%d %B %Y (%A) on %H:%M %P') %>
                  <% end %>
                  <% if @subscription.current_period_end.present? %>
                    <strong class="ml-2">Ends on:</strong> <%= Time.at(@subscription.current_period_end).to_datetime.strftime('%d %B %Y (%A) on %H:%M %P') %>
                  <% end %>
                  <% if @subscription.cancel_at_period_end.present? %>
                    <strong class="ml-2">Cancel at Period End:</strong> <%= @subscription.cancel_at_period_end.to_s.capitalize %>
                  <% end %>
                </span>
                <br/>
                <span class="font-weight-500">
                  <%= link_to 'Cancel Subscription Now', cancel_subscription_now_path %>
                  <% if @subscription.cancel_at_period_end? %>
                    <%= link_to 'Allow Renewal of Subscription', setup_renewal_of_subscription_path, class: 'ml-2' %>
                  <% else %>
                    <%= link_to 'Cancel Renewal of Subscription', setup_renewal_of_subscription_path, class: 'ml-2' %>
                  <% end %>
                </span>
              <% else %>
                You are not subscribed to any plan yet.
              <% end %>
            </div>
            <div class="col-lg-3 col-sm-4 text-sm-right text-center mt-3 mt-sm-0">
              <img src="/subs.png" class="img-fluid">
            </div>
          </div>
        </div>
        <div class="border-top p-c-footer font-weight-500">
          <a href="/plans">Manage Subscriptions</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Card Details -->
  <div class="row mt-4">
    <div class="col-lg-12">
      <div class="card r-1 border border">
        <div class="card-body p-30">
          <div class="row align-items-center">
            <div class="col-lg-7 col-sm-8 pr-xl-0">
              <h6 class="card-title mb-3 pb-1 mt-2">Card Details</h6>
              <% if current_user.stripe_customer_id? && current_user.stripe_payment_method_id? %>
                <div class="row">
                  <div class="col-xl-4 col-md-6 pr-xl-0 mb-3">
                    <div class="card r-2 border p-4 text-center text-lg-left">
                      <div class="mb-3">
                        <img src="<%= @card_details[:brand] %>.png" class="img-card mr-2"> <span class="vl-m"><%= @card_details[:brand] %> **** <%= @card_details[:last4] %></span>
                      </div>
                      <%= link_to 'Add or Update Card', update_card_details_path, remote: true, class:"font-weight-500" %>
                    </div>
                  </div>
                </div>
              <% else %>
                No Card currently added.
              <% end %>
            </div>
            <div class="col-lg-5 col-sm-4 text-sm-right text-center mt-3 mt-sm-0">
              <img src="/card.png" class="img-fluid">
            </div>
          </div>
        </div>
        <div class="border-top p-c-footer font-weight-500">
          <a href="/">+ Add Payment Method</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Invoices -->
  <div class="row mt-4">
    <div class="col-lg-12">
      <div class="card r-1 border border">
        <div class="card-body p-30">
          <div class="row align-items-center ml-sm-0">
            <div class="col-lg-9 col-md-8">
              <h6 class="card-title mb-2 pb-1 mt-2 ml-sm-n15">Invoices</h6>
              <% if @invoices.present? %>
                <div class="row mb-2 d-none d-sm-flex">
                  <div class="col-xl-8 col-lg-7 col-md-5 col-sm-7 col-12 mb-2 mb-sm-0">
                    Description
                  </div>
                  <div class="col-lg-2 col-md-3 col-sm-2 col-6">
                    Amount
                  </div>
                  <div class="col-xl-2 col-lg-3 col-sm-3 col-md-4 col-6">
                    Invoice URL
                  </div>
                </div>
                <div class="row">
                  <% @invoices.each do |invoice| %>
                    <div class="col-12 card r-2 border p-3 mb-3">
                      <div class="row">
                        <div class="col-xl-8 col-lg-7 col-md-5 col-sm-7 col-12">
                          <% invoice.lines.data.each do |d| %>
                            <div><%= d.description %></div>
                          <% end %>
                          <div class="text-muted"><%= Time.at(invoice.created).to_datetime.strftime('%d %B %Y (%A) on %H:%M %P') %></div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-2 col-6">
                          <%= number_to_currency((invoice.amount_paid)/100.00) %>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-sm-3 col-md-4 col-6">
                          <a target="_blank" href="<%= invoice.hosted_invoice_url %>"><i class="fas fa-download"></i> Download</a>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
              <% else %>
                <div class="ml-sm-n15">
                  No Invoices currently present.
                </div>
              <% end %>
            </div>
            <div class="col-lg-3 col-md-4 text-md-right text-center mt-3 mt-md-0">
              <img src="/invoice.png" class="img-fluid">
            </div>
          </div>
        </div>
        <div class="border-top p-c-footer font-weight-500">
          <a href="/">Manage Invoices</a>
        </div>
      </div>
    </div>
  </div>
</div>