<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control login-form', placeholder:"Enter Product Name" %>
  </div>

  <div class="form-group">
    <%= form.label :payment_gateway %>
    <%= form.select :payment_gateway, Product.payment_gateways.keys %>
  </div>
  
  
  <div class="actions mt-3">
    <%= form.submit class: 'btn btn-primary px-4 btn-submit btn-block' %>
  </div>
<% end %>
