<% if current_user.subscription.present? %>
  <%= current_user.subscription.plan.nickname %>
  <%= link_to 'Cancel Subscription Now', cancel_subscription_now_path %>
  <%= link_to 'Cancel Renewal of Subscription', setup_renewal_of_subscription_path %>
  <%= form_tag(:controller => "subscriptions", :action => "update_card_details") do %>
    <script src="https://checkout.stripe.com/checkout.js" 
      class="stripe-button" 
      data-key="<%= Rails.configuration.stripe[:publishable_key] %>" 
      data-name="Boiler-Plate" 
      data-panel-label="Update Card Details" 
      data-label="Update Card Details" 
      data-allow-remember-me=false 
      data-locale="auto"
      data-description="Form for Updating Card Details"
      data-email="<%= current_user.email %>">
    </script>
  <% end %>
<% else %>
  <h1>Plans</h1>
  <table>
    <thead>
      <tr>
        <th>Nickname</th>
        <th>Amount</th>
        <th>Currency</th>
        <th>Interval</th>
        <th>Interval count</th>
      </tr>
    </thead>
    <tbody>
      <% @plans.each do |plan| %>
        <tr>
          <td><%= plan.nickname %></td>
          <td><%= plan.amount %></td>
          <td><%= plan.currency %></td>
          <td><%= plan.interval %></td>
          <td><%= plan.interval_count.present? ? plan.interval_count : 'Not Available' %></td>
          <td type="button" class="btn btn-primary" data-toggle="modal" data-target="#payment_modal_for_<%= plan.stripe_id %>">Select</td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to 'New Plan', new_plan_path %>
  <% @plans.each do |plan| %>
    <%= render partial: 'plans/payment_modal', locals: { plan_id: plan.stripe_id, app_plan_id: plan.id } %>
  <% end %>
<% end %>