<% if current_user.has_role?(:normal) %>
  <h5 class="text-center text-primary pt-5 pb-4">Pricing Plans</h5>
<% else %>
  <div class="banner-header bg-white p-3">
    <div class="row align-items-center">
      <div class="col-md-6 text-center text-md-left">
        <h5 class="lh-34 mb-0">Pricing Plans</h5>
        <%= render_breadcrumbs %>
      </div>
      <div class="col-md-6 text-center text-md-right">
        <% if can? :new, Plan %>
          <%= link_to 'Add New Plan', new_plan_path, class:"btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<div class="container <%= current_user.has_role?(:normal) ? '' : 'container-admin px-md-4 px-2' %>">
  <% if @plans.present? %>
    <div class="row">
      <% @plans.each do |plan| %>
        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="card r-1 border">
            <h3 class="font-weight-500 card-header bg-primary text-center text-white mb-0"><%= plan.nickname %></h3>
            <h5 class="price pt-3 pb-2 mb-0 border-bottom text-primary text-center"><%= plan.currency == 'USD' ? '$' : "£"  %> <%= plan.amount %></h5>
            <div class="card-body p-4">
              <ul class="fa-ul mb-0">
                <li class="mb-2">
                  <span class="fa-li">
                    <i class="fas fa-check-circle text-primary"></i>
                  </span>
                  Interval: <%= plan.interval.humanize %>
                </li>
                <li>
                  <span class="fa-li">
                    <i class="fas fa-check-circle text-primary"></i>
                  </span>
                  Interval Count: <%= plan.interval_count.present? ? plan.interval_count : 'Not Available' %>
                </li>
              </ul>
            </div>
            <% if current_user.has_role?(:normal) %>
              <div class="font-weight-500 card-footer bg-white text-center mb-0 py-3">
                <% if current_user.subscription.present? %>
                  <% if current_user.subscription.plan.id == plan.id %>
                    Your Current Plan
                  <% else %>
                  <%= link_to "Change Plan", upgrade_or_downgrade_stripe_plan_path(plan: plan), method: :put  %>
                  <% end %>
                <% else %>
                  <%= link_to "Choose Plan", collect_payment_details_path(plan: plan, stripe_plan_id: plan.stripe_id, app_plan_id:  plan.id), remote: true  %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="text-center">
      No Plans currently present.
      <br>
      <% if can? :new, Plan %>
        <%= link_to 'Add New Plan', new_plan_path, class:"btn btn-primary" %>
      <% end %>
    </div>
  <% end %>
</div>
<div id="modal_div"></div>