<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark">
  <div class="container">
  <a class="navbar-brand" href="<%= root_path %>"><h2 class="text-primary">YourAppName</h2></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> 
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="<%= root_path %>"><i class="fas fa-home"></i> Home<span class="sr-only">(current)</span></a>
              </li>
      
        <% if !user_signed_in? %>
           <li class="nav-item">
              <a class="nav-link" href="#" data-toggle="modal" data-target="#loginModal"><i class="fas fa-sign-in-alt"></i> Sign in</a>
          </li> 
           <li class="nav-item">
              <a class="nav-link" href="<%= new_user_registration_path%>" data-toggle="modal" data-target="#signupModal"><i class="fas fa-user-plus"></i> Sign Up</a>
          </li> 
        <% else %>
      
             <div class="dropdown">
               <li class="nav-item">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"> <i class="fas fa-user"></i> <%= current_user.name%></a>
                <div class="dropdown-menu bg-light">
                  <a class="dropdown-item" href="<%= edit_user_path(current_user) %>">Profile</a>
                  <a class="dropdown-item" href="<%= edit_user_registration_path %>">Settings</a>
                  <a class="dropdown-item" href="<%= destroy_user_session_path %>" data-method="delete">
                    Log out</a>
                </div>
                </li>
              </div>
          
          <% if current_user.admin %>
            <li class="nav-item">
              <a class="nav-link" href="<%= admin_panel_path %>">Admin Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= destroy_user_session_path %>" data-method="delete">Log Out</a>
            </li>
          <% end %>
          
        <% end %>
      </ul>
      
    </div>
</div>
</nav>


<!--Login modal start-->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-login" role="document">
    <div class="modal-content">
      <div class="modal-header d-block">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title text-center" id="exampleModalLabel">Login to YourAppName</h4>
        
      </div>
      <div class="modal-body modal-login-body">
        <%= form_for(:user, :url => session_path(:user)) do |f| %>
          <a href="">
            <div class="loginmodal-fb mb-2">
              Sign in with Facebook
            </div>
          </a>
          <a href="">
            <div class="loginmodal-google mb-2">
              Sign in with Google
            </div>
          </a>
          <div class="row">
            <div class="col-5"><hr class="hr-or"></div>
            <div class="col-2">OR</div>
            <div class="col-5"><hr class="hr-or"></div>
          </div>
          <%= f.email_field :email,required: true, autofocus: true, class: "form-control input-md", placeholder: "Enter Your Email" %>
          <%= f.password_field :password, autocomplete: "off", class: "form-control input-md", placeholder: "Enter Your Password" %>
          <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          <%= f.submit "Log in", class: "btn btn-primary btn-block mt-2 mb-3" %>
        <% end %>
        <center><a href="/users/password/new">Forgot your password?</a></center>
      </div>
      <div class="modal-footer d-block">
              <center>Not a member? <a href="" data-toggle="modal" data-target="#signupModal" data-dismiss="modal">Join Now</a></center>
        <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
        <!--<button type="button" class="btn btn-primary">Save changes</button>-->
      </div>
    </div>
  </div>
</div>

<!--login modal end-->


<!--sign up modal start-->
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header d-block">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title text-center" id="exampleModalLabel">Join YourAppName</h4>
      </div>
      <div class="modal-body modal-login-body">
        <div class="row align-items-center">
            <div class="col-md-6">
              <a href="">
                <div class="loginmodal-fb mb-2">
                 Sign in with Facebook
                </div>
              </a>
              <a href="">
                <div class="loginmodal-google mb-2">
                  Sign in with Google
                </div>
              </a>
            </div>
            <div class="col-md-6 b-left">
          <%= form_for(:user, :url => registration_path(:user)) do |f| %>
              <%= f.text_field :name,autocomplete: "false",required: true, autofocus: true, class: "form-control login-form mb-2", placeholder: "Enter Your Name", id: "join_name" %>
              <%= f.email_field :email,autocomplete: :email,required: true, autofocus: true, class: "form-control login-form mb-2", placeholder: "Enter Your Email", id: "join_name" %>
              <%= f.password_field :password,required: true, autofocus: true, class: "form-control login-form mb-2", placeholder: "Enter Your Password", id: "join_name" %>
              <%= f.password_field :password_confirmation,required: true, class: "form-control login-form mb-2", placeholder: "Enter Your Password Again", id: "join_name" %>
              <%= f.submit "Sign Up", class: "btn btn-primary btn-block mt-2 mb-3" %>
          <% end %>
            </div>
        </div>
      </div>
      
      <div class="modal-footer d-block">
              <center>Already a member? <a href="#" data-toggle="modal" data-target="#loginModal" data-dismiss="modal">Login</a></center>
        <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
        <!--<button type="button" class="btn btn-primary">Save changes</button>-->
      </div>
    </div>
  </div>
</div>
<!--sign up modal end-->