<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="loginModalLabel">Login to YourAppName</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body px-2 px-sm-4 pt-2">
        <%= form_for(:user, :url => session_path(:user)) do |f| %>
          <a href="<%= user_facebook_omniauth_authorize_path %>" class="btn-facebook"><i class="fab fa-facebook-f mr-2"></i> Login with Facebook</a>
          <a href="<%= user_google_oauth2_omniauth_authorize_path %>" class="btn-google"><i class="fab fa-google mr-2"></i> Login with Google</a>
          <div class="row align-items-center no-gutters my-2">
            <div class="col-5">
              <hr/>
            </div>
            <div class="col-2 text-center">
              OR
            </div>
            <div class="col-5">
              <hr/>
            </div>
          </div>
          <div class="form-group form-floating">
            <%= f.email_field :email, autofocus: true, placeholder: 'Enter Your Email', required: true %>
            <label for="user_email"></label>
          </div>
          <div class="form-group form-floating">
            <%= f.password_field :password, placeholder: 'Enter Your Password', required: true, minlength: 6 %>
            <label for="user_password"></label>
          </div>
          <div class="form-group checkbox remember_me">
            <%= f.check_box :remember_me, id:"remember_me" %>
            <label class="custom-control-label" for="remember_me">Remember me</label>
          </div>
          <%= f.submit "Login" %>
        <% end %>
        <div class="text-center mt-3">
          <a href="/users/password/new">Forgot your password?</a>
          <hr/>
          <p>Not a member? <%= link_to "Sign up", new_registration_path(resource_name) %></p>
        </div>
      </div>
    </div>
  </div>
</div>