<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="loginModalLabel">Login to YourAppName</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body px-2 px-sm-4 pt-2">
        <%= form_for(:user, :url => session_path(:user)) do |f| %>
        <div class="form-row mb-3">
          <div class="col-sm mb-2 mb-sm-0">
            <a href="<%= user_facebook_omniauth_authorize_path %>" class="btn-facebook">
              <span class="devise-social-icons"><img src="/facebook-icon.png" alt="Facebook Icon"></span>
              <span class="devise-social-text">Sign Up with Facebook</span>
            </a>
          </div>
          <div class="col-sm">
            <a href="<%= user_google_oauth2_omniauth_authorize_path %>" class="btn-google">
              <span class="devise-social-icons"><img src="/google-icon.png" alt="Google Icon"></span>
              <span class="devise-social-text">Sign Up with Google</span>
            </a>
          </div>
        </div>
          <div class="row align-items-center no-gutters my-2">
            <div class="col-5">
              <hr/>
            </div>
            <div class="col-2 text-center">
              OR
            </div>
            <div class="col-5">
              <hr/>
            </div>
          </div>
          <div class="form-group form-floating">
            <%= f.email_field :email, placeholder: 'Enter Your Email', required: true %>
            <label for="user_email"></label>
          </div>
          <div class="form-group form-floating">
            <%= f.password_field :password, placeholder: 'Enter Your Password', required: true, minlength: 6 %>
            <label for="user_password"></label>
          </div>
          <div class="form-group checkbox remember_me">
            <%= f.check_box :remember_me, id:"remember_me" %>
            <label for="remember_me">Remember me</label>
          </div>
          <%= f.submit "Login", class:'btn-submit' %>
        <% end %>
        <div class="text-center mt-3">
          <a href="/users/password/new">Forgot your password?</a>
          <hr/>
          <p>Not a member? <%= link_to "Sign up", new_registration_path(resource_name) %></p>
        </div>
      </div>
    </div>
  </div>
</div>