<div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="signupModalLabel">Join YourAppName</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body px-2 px-sm-4 pt-2">
        <%= form_for(:user, :url => registration_path(:user)) do |f| %>
          <a href="<%= user_facebook_omniauth_authorize_path %>" class="btn-facebook"><i class="fab fa-facebook-f mr-2"></i> Join with Facebook</a>
          <a href="<%= user_google_oauth2_omniauth_authorize_path %>" class="btn-google"><i class="fab fa-google mr-2"></i> Join with Google</a>
          <div class="row align-items-center no-gutters my-2">
            <div class="col-5">
              <hr/>
            </div>
            <div class="col-2 text-center">
              OR
            </div>
            <div class="col-5">
              <hr/>
            </div>
          </div>
          <div class="form-group">
            <%= f.text_field :name, autofocus: true, required: true, placeholder: 'Enter Your Name' %>
          </div>
          <div class="form-group">
            <%= f.email_field :email, placeholder: 'Enter Your Email', required: true %>
          </div>
          <div class="form-group">
            <%= f.password_field :password,required: true, placeholder: 'Enter Your Password', minlength: 6 %>
          </div>
          <div class="form-group">
            <%= f.password_field :password_confirmation, placeholder: 'Enter Your Password Again',  required: true, minlength: 6 %>
          </div>
          <%= f.submit "Sign Up", class: 'btn-submit' %>
        <% end %>
        <div class="text-center mt-3">
          <p>Already a member? <%= link_to "Login", new_session_path(resource_name) %></p>
        </div>
      </div>
    </div>
  </div>
</div>