<div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="signupModalLabel">Join YourAppName</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body px-2 px-sm-4 pt-2">
        <%= form_for(:user, :url => registration_path(:user)) do |f| %>
          <div class="form-row mb-3">
            <div class="col-sm mb-2 mb-sm-0">
              <a href="<%= user_facebook_omniauth_authorize_path %>" class="btn-facebook">
                <span class="devise-social-icons"><img src="/facebook-icon.png" alt="Facebook Icon"></span>
                <span class="devise-social-text">Sign Up with Facebook</span>
              </a>
            </div>
            <div class="col-sm">
              <a href="<%= user_google_oauth2_omniauth_authorize_path %>" class="btn-google">
                <span class="devise-social-icons"><img src="/google-icon.png" alt="Google Icon"></span>
                <span class="devise-social-text">Sign Up with Google</span>
              </a>
            </div>
          </div>
          <div class="row align-items-center no-gutters my-2">
            <div class="col-5">
              <hr/>
            </div>
            <div class="col-2 text-center">
              OR
            </div>
            <div class="col-5">
              <hr/>
            </div>
          </div>
          <div class="form-group form-floating">
            <%= f.text_field :name, autofocus: true, required: true, placeholder: 'Enter Your Name' %>
            <label for="user_name">Enter Your Name</label>
          </div>
          <div class="form-group form-floating">
            <%= f.email_field :email, placeholder: 'Enter Your Email', required: true %>
            <label for="user_email">Enter Your Email</label>
          </div>
          <div class="form-group form-floating">
            <%= f.password_field :password,required: true, placeholder: 'Enter Your Password', minlength: 6 %>
            <label for="user_password">Enter Your Password</label>
          </div>
          <div class="form-group form-floating">
            <%= f.password_field :password_confirmation, placeholder: 'Enter Your Password Again',  required: true, minlength: 6 %>
            <label for="user_password_confirmation">Enter Your Password Again</label>
          </div>
          <%= f.submit "Sign Up" %>
        <% end %>
        <div class="text-center mt-3">
          <p>Already a member? <%= link_to "Login", new_session_path(resource_name) %></p>
        </div>
      </div>
    </div>
  </div>
</div>