<!DOCTYPE html>
<html>
  <head>
    <title>YourAppName</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/fevicon.jpg" type="image/jpg" sizes="16x16">
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- <script src="https://js.stripe.com/v3/"></script> -->
  </head>
  <body>
    <% if user_signed_in? and current_user.admin? %>
    <div class="container-fluid pl-0 pr-0 pr-md-15 container-main-admin">
      <div class="row">
        <div class="col-xl-2 col-md-3 pr-md-0">
          <%= render 'layouts/admin_sidebar' %>
        </div>
        <div class="col-xl-10 col-md-9 px-md-0">
          <div class="container-main-footer px-md-4 px-2">
            <%= yield %>
          </div>
          <%= render 'layouts/admin_footer' %>
        </div>
      </div>
    </div>
    <% else %>
    <%= render 'layouts/header' %>
    <%= render 'layouts/swal' %>
    <div class="container-main">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
    <% end %>
  </body>
</html>