<!doctype html>
<html lang="en" class="h-100">
  
  <head>
    
    <title>YourAppName</title>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="BoilerPlate for Rails Projects">
    <meta name="author" content="System Plus">
    <meta name="robots" content="index,follow">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="/favicons/site.webmanifest">
    <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#79589f">
    <link rel="icon" href="/favicons/favicon.ico">
    <meta name="msapplication-config" content="/favicons/browserconfig.xml">
    <meta name="theme-color" content="#79589f">
    
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if params[:action] == 'users' or params[:action] == 'all_invoices' or params[:action] == 'invoices' %>
      <!-- Datatable CSS Files -->
      <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css" crossorigin="anonymous"/>
      <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.5/css/buttons.bootstrap4.min.css" crossorigin="anonymous"/>
      <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.7/css/responsive.bootstrap4.min.css" crossorigin="anonymous"/>
      <%= stylesheet_link_tag 'datatables', media: 'all', 'data-turbolinks-track': 'reload' %>
      <!-- PDF Make -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.70/pdfmake.min.js" defer crossorigin="anonymous"></script>
      <%= javascript_include_tag 'datatables', 'data-turbolinks-track': 'reload', defer: true %>
      <!-- DataTable -->
      <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js" defer crossorigin="anonymous"></script>
      <script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js" defer crossorigin="anonymous"></script>

      <!-- Datatable Buttons -->
      <script src="https://cdn.datatables.net/buttons/1.6.5/js/dataTables.buttons.min.js" defer crossorigin="anonymous"></script>
      <script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.bootstrap4.min.js" defer crossorigin="anonymous"></script>
      <!-- PDF Button -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.68/vfs_fonts.min.js" defer crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.5.0/jszip.min.js" defer crossorigin="anonymous"></script>
      <!-- Export Buttons -->
      <script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.html5.min.js" defer crossorigin="anonymous"></script>
      <!-- Print Button -->
      <script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.print.min.js" defer crossorigin="anonymous"></script>

      <!-- Datatable Responsiveness -->
      <script src="https://cdn.datatables.net/responsive/2.2.7/js/dataTables.responsive.min.js" defer crossorigin="anonymous"></script>
      <script src="https://cdn.datatables.net/responsive/2.2.7/js/responsive.bootstrap.min.js" defer crossorigin="anonymous"></script>
    <% end %>

    <% if notice or  alert.present? or flash[:warning] or flash[:info].present? or params[:controller] == 'subscriptions' or params[:controller] == 'user_panel' or params[:controller] == 'plans' %>
      <%= stylesheet_link_tag 'swal', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'swal', 'data-turbolinks-track': 'reload', defer: true %>
    <% end %>

    <% if user_signed_in? and current_user.has_role? :admin %>
      <%= stylesheet_link_tag 'dashboard', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'dashboard', 'data-turbolinks-track': 'reload', defer: true %>
    <% end %>
    
    <%= javascript_include_tag 'script', 'data-turbolinks-track': 'reload', defer: true %>

    <% if params[:controller] == 'subscriptions' or params[:controller] == 'user_panel' or params[:controller] == 'plans' or params[:controller] == 'products' or params[:controller] == 'admin_panel' %>
      <script src="https://js.stripe.com/v3/" defer crossorigin="anonymous"></script>
    <% end %>
    
  </head>
  
  <% if !(user_signed_in?) %>
    <div id="g_id_onload"
      data-client_id="<%= ENV["Google_client_id"]%>"
      data-login_uri="<%=root_url%>users/auth/google_oauth2"
      data-auto_select="true"
      data-model_type="User">
    </div>
  <% end %>

  <body class="nav-fixed h-100 d-flex flex-column">
    <% if user_signed_in? and current_user.has_role? :admin %>
    <%= render 'layouts/header-dashboard' %>
    <div id="layoutSidenav">
      <%= render 'layouts/admin_sidebar' %>
      <div id="layoutSidenav_content">
        <main role="main">
          <%= yield %>
        </main>
      </div>
    </div>
    <% else %>
      <%= render 'layouts/header' if user_signed_in? %>
      <main role="main" class="flex-shrink-0">
        <%= yield %>
      </main>
      <%= render 'layouts/footer' if user_signed_in? %>
    <% end %>
    <%= render 'layouts/swal' %>
    <%= render 'layouts/page_center_script' %>
  </body>

</html>