<!doctype html>
<html lang="en" class="h-100">

<head>

  <!-- Meta Tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="BoilerPlate for Rails Projects">
  <meta name="author" content="System Plus">
  
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  
  <title>YourAppName</title>
  
  <!-- Datatable CSS Files (Required before application.css) -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css"/>
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.5/css/buttons.bootstrap4.min.css"/>
  <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.6/css/responsive.bootstrap4.min.css"/>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <!-- PDF Make (Required before application.js) -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.68/pdfmake.min.js"></script>

  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <!-- Favicons -->
  <link rel="apple-touch-icon" href="/favicons/apple-touch-icon.png" sizes="180x180">
  <link rel="icon" href="/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
  <link rel="icon" href="/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
  <link rel="manifest" href="/favicons/site.webmanifest">
  <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#79589f">
  <link rel="icon" href="/favicons/favicon.ico">
  <meta name="msapplication-config" content="/favicons/browserconfig.xml">
  <meta name="theme-color" content="#79589f">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>

  <!-- DataTable -->
  <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>

  <!-- Datatable Buttons -->
  <script src="https://cdn.datatables.net/buttons/1.6.5/js/dataTables.buttons.min.js" defer></script>
  <script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.bootstrap4.min.js" defer></script>
  <!-- PDF Button -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.68/vfs_fonts.min.js" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.5.0/jszip.min.js" defer></script>
  <!-- Export Buttons -->
  <script src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.html5.min.js" defer></script>
  <!-- Print Button -->
  <script src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.print.min.js" defer></script>

  <!-- Datatable Responsiveness -->
  <script src="https://cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.min.js" defer></script>
  <script src="https://cdn.datatables.net/responsive/2.2.6/js/responsive.bootstrap.min.js" defer></script>

  <!-- Stripe -->
  <script src="https://js.stripe.com/v3/" defer></script>

</head>


<% if user_signed_in? and current_user.has_role? :admin %>
<body class="nav-fixed h-100">
  <%= render 'layouts/header-dashboard' %>
  <%= render 'layouts/swal' %>
    <div id="layoutSidenav">
      <%= render 'layouts/admin_sidebar' %>
      <div id="layoutSidenav_content">
        <main>
          <%= yield %>
        </main>
        <%= render 'layouts/footer' %>
      </div>
    </div>
  </body>
<% else %>
  <body class="d-flex flex-column h-100">
    <%= render 'layouts/header' %>
    <%= render 'layouts/swal' %>
    <main role="main" class="flex-shrink-0">
      <%= yield %>
    </main>
    <%= render 'layouts/footer' %>
  </body>
<% end %>

</html>