<!doctype html>
<html lang="en" class="h-100">
  
  <head>
    
    <title>YourAppName</title>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="BoilerPlate for Rails Projects">
    <meta name="author" content="System Plus">
    <meta name="robots" content="index,follow">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="/favicons/site.webmanifest">
    <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#79589f">
    <link rel="icon" href="/favicons/favicon.ico">
    <meta name="msapplication-config" content="/favicons/browserconfig.xml">
    <meta name="theme-color" content="#79589f">
    
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if params[:action] == 'users' or params[:action] == 'all_invoices' %>
      <%= stylesheet_link_tag 'datatables', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'datatables', 'data-turbolinks-track': 'reload', defer: true %>
    <% end %>
    <% if notice or  alert.present? or flash[:warning] or flash[:info].present? or params[:controller] == 'subscriptions' or params[:controller] == 'user_panel' %>
      <%= stylesheet_link_tag 'swal', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'swal', 'data-turbolinks-track': 'reload', defer: true %>
    <% end %>
    <% if user_signed_in? and current_user.has_role? :admin %>
      <%= stylesheet_link_tag 'dashboard', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'dashboard', 'data-turbolinks-track': 'reload', defer: true %>
    <% end %>
    <%= javascript_include_tag 'defer', 'data-turbolinks-track': 'reload', defer: true %>
    <% if params[:controller] == 'subscriptions' or params[:controller] == 'user_panel'or params[:controller] == 'plans' or params[:controller] == 'products' or params[:controller] == 'admin_panel' %>
      <script src="https://js.stripe.com/v3/" defer></script>
    <% end %>
    
  </head>
  
  <% if !(user_signed_in?) %>
    <div id="g_id_onload"
      data-client_id="<%= ENV["Google_client_id"]%>"
      data-login_uri="<%=root_url%>users/auth/google_oauth2"
      data-auto_select="true"
      data-model_type="User">
    </div>
  <% end %>

  <body class="nav-fixed h-100 d-flex flex-column">
    <% if user_signed_in? and current_user.has_role? :admin %>
    <%= render 'layouts/header-dashboard' %>
    <div id="layoutSidenav">
      <%= render 'layouts/admin_sidebar' %>
      <div id="layoutSidenav_content">
        <main role="main">
          <%= yield %>
        </main>
      </div>
    </div>
    <% else %>
      <%= render 'layouts/header' if user_signed_in? %>
      <main role="main" class="flex-shrink-0">
        <%= yield %>
      </main>
      <%= render 'layouts/footer' if user_signed_in? %>
    <% end %>
    <%= render 'layouts/swal' %>
    <%= render 'layouts/page_center_script' %>
  </body>

</html>