<div class="container py-4">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="col-md-8 mx-auto">
          <div class="card-body">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {id: "profile_form", method: :put }) do |f| %>
                <%= devise_error_messages! %>
                <h3 class="text-center">Settings</h3>
                <div class="form-group">
                  <label>Email</label>
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control',id: "user_email_form", required: true %>
                </div>
                <div class="form-group">
                  <label>New Passwword</label>
                  <%= f.password_field :password, autocomplete: "off", class: 'form-control', minlength: 6, required: true %>
                  <%= hidden_field_tag :settings,true%>
                </div>
                <div class="form-group">
                  <label>New Password Confirmation</label>
                  <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', minlength: 6, required: true %>
                </div>
                <div class="form-group">
                  <label>Old Password</label>
                  <%= f.password_field :current_password, autocomplete: "off", class: 'form-control', minlength: 6, required: true %>
                </div>
              <div class="actions">
                <%= f.submit "Update", class: 'btn btn-primary btn-block mb-1' %>
              </div>
            <% end %>
                <!--<center><a href="#" class="btn btn-primary mt-2">Save Setting</a></center>-->
              
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
function readURL(input) {
if (input.files && input.files[0]) {
var reader = new FileReader();
reader.onload = function (e) {
$('#blah').attr('src', e.target.result);
}
reader.readAsDataURL(input.files[0]);
}
}
$(".imgInp").change(function(){
readURL(this);
});
$(".middle").hover(function() {
$("#blah").css("opacity","0.1");
});
// hover
$("#blah").hover(function() {
$(".middle").css("cursor","pointer");
});
</script>